<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> </title>
    <meta name="viewport" content="width=device-width, height=device-height">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/main.css">
    <script src="../js/jquery-3.1.1.min.js"></script>
    <script src="../js/bootstrap.js"></script>
  </head>
  <body>
    <header class="header">
      <div class="header__container container"><a class="header__logo" href="#"><img src="../images/logo.png" alt="Logotype"></a>
        <nav class="header__nav"><a href="#">Tour</a><a href="#">About</a><a href="#">Support</a><a href="#">Pricing</a></nav>
        <button class="header__sign-in button" type="button">SIGN UP</button>
      </div>
    </header>
  </body>
</html>