body
  height: 100vh
  background-color: #000000

header 
  position: fixed
  width: 100%
  background-color: transparent
  height: 70px
.header-sub
  height: 79px
  width: 100%
.header-block
  display: flex
  flex-direction: row
  justify-content: space-between
  padding: 20px
  
  .header-btn
    border: none
    background: none
    outline: none

.section-home
  .home-content
    border-bottom: 1px solid #151515
    img
      transform: translateX(-35%)
      position: relative
      bottom: -2px
    h1
      font-size: 82px
      color: #ffffff
      font-weight: bold
    .main-btn
      margin-top: 30px
      float: right
      border: none
      outline: none
      background-color: #0f33ff
      width: 90px
      height: 30px
      padding-left: 55px
      font-size: 14px
      color: #ffffff
      font-weight: bold
      text-transform: uppercase
      transition: All 0.5s ease
      &:hover
        width: 120px
        padding-left: 80px
      p
        position: absolute
        left: 13px
      i
        font-size: 22px
  .home-info
    margin-top: 30px
    .info-block
      padding: 0 0 0 20px
      color: #252525
      &:hover
        color: #ffffff
        cursor: pointer
      h5
        font-weight: bold
        font-size: 18px
        text-transform: uppercase

      p
        font-size: 16px

